<!doctype html>
<html>
    <head>
        <title>Login</title>
        <script>
            function openSpotifyLogin() {
                var width = 600;
                var height = 600;
                var left = (screen.width - width) / 2;
                var top = (screen.height - height) / 2;
                var params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=${width},height=${height},top=${top},left=${left}`;
                window.open("{{ url_for('authorize') }}", "Spotify Login", params);
            }
        </script>
    </head>
    <body>
        <h1>Please log in with Spotify</h1>
        <button onclick="openSpotifyLogin()">Login with Spotify</button>
    </body>
</html>